body{
font-family: 'Segoe UI';
background: linear-gradient(to right, #667eea, #764ba2);
}

.container{
width:420px;
margin:80px auto;
background:white;
padding:30px;
border-radius:15px;
box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

h1{
text-align:center;
}

.subtitle{
text-align:center;
color:gray;
margin-bottom:20px;
}

input{
width:100%;
padding:10px;
margin:10px 0;
border-radius:8px;
border:1px solid #ccc;
}

button{
width:100%;
padding:10px;
margin-top:10px;
background:#667eea;
color:white;
border:none;
border-radius:8px;
cursor:pointer;
}

button:hover{
background:#5a67d8;
}

.result{
margin-top:20px;
padding:12px;
text-align:center;
border-radius:8px;
font-weight:bold;
}

.pass{
background:#d4edda;
color:#155724;
}

.fail{
background:#f8d7da;
color:#721c24;
}

table{
width:100%;
margin-top:20px;
border-collapse: collapse;
}

th, td{
padding:10px;
border:1px solid #ddd;
text-align:center;
}

th{
background:#667eea;
color:white;
}